body {
    background-color: black;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

.navigation {
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
}

p {
    text-align: center; 
    font-weight: bold;
    padding: 0px 0px 15px 0px;
}

.button {
    padding: 0px 40px;
}

.label {
    padding: 0px 40px 0px 4px;
    font-size: 1.1em;
    font-weight: 700;
    color: white;
}

.movie-overview{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.movie-overview li {
    list-style: none;
    margin:3px;
    padding: 7px;
}

.movie-overview li a img:hover {
    border: solid white 1px ;
}

.overview {
    display: flex;
    justify-content: center;
}

input:checked + label {
    color: black;
    background: white;
    border-radius: 5px;
    opacity: 20%;
}
  