body {
    font-family: tahoma;
    background-color: rgb(0, 0, 0);
    color: white;
}

h1 {
    text-align: center;
}
p {
    text-align: center; 
    font-weight: bold;
}

ul li {
    list-style: none; 
}

.filterButtons {
   display: flex ; 
   margin: 25px;
   padding: 10px;
}

#movie-overview {
    display: flex;
    flex-wrap: wrap;
}

.buttons {
    margin:0px 10px 0px 10px;
}
